<div class="row">
  <div class="col-md-6 col-12">
    <div class="container-signup">
      <div class="card-body">
        <div class="card-title">
          <h4 style="color: red;"> XOOM </h4>
          <h1 class="big-top"> Login </h1><br/>
        </div>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <div class="form-outline">
              <label class="form-label" for="formControlLg">Email</label>
              <input type="email" id="formControlLg" class="form-control form-control-lg" formControlName="email" />
            </div><br/>

            <!-- Password input -->
            <div class="form-outline">
              <label class="form-label" for="formControlL">Password</label>
              <input type="password" id="formControlL" class="form-control form-control-lg" formControlName="password"/>
            </div><br/>

            <!-- Submit button -->
            <button type="submit" class="btn btn-lg btn-danger col-12">Sign In</button>
          </form>
          <div class="text-center" style="margin-top: 1.6rem">
            <a class="btn btn-outline-dark col-12" data-bs-toggle="modal" data-bs-target="#passwordrecoverystatic"> Forgot password </a>
          </div>
        </div>
      </div>
      <div>
        <hr/>
      </div>
      <div class="auth-providers">
        <br/>
        <div>
          <a> <img src="assets/svg/grommet-icons_google.svg" style="padding-right: 1.8rem" class="img-fluid">  Signin with Google </a> <br/><br/>
          <a> <img src="assets/svg/logos_facebook.svg" style="padding-right: 1.8rem">  Signin with Facebook </a>
        </div>
      </div>

      <div class="text-center" style="margin-top: 1.6rem">
        <a routerLink="/auth/signup"> I don't have an account </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <img src="assets/images/business-conference.jpg" class="img-fluid cap">
  </div>
</div>

<!-- Password recovery modal -->
<div class="modal fade" id="passwordrecoverystatic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="card-title">
            <h2> Reset Password</h2>
          </div>
          <form [formGroup]="passwordRecoveryForm" (ngSubmit)="sentEmail()">
            <!-- Email input -->
            <div class="form-outline">
              <label class="form-label">Email</label>
              <input type="email" id="formControl" class="form-control form-control" formControlName="email" placeholder="enter email to reset password "/>
            </div><br/>
            <button type="submit" class="btn btn-danger col-12" data-bs-dismiss="modal"> reset password </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
