.form-control{
  border-color: blue;
}
.big-top{
  font-size: 3.5rem;
  line-height: 2.5rem;
  font-weight: bolder;
  padding-top: 1.5rem;
  letter-spacing: 2px;
}
.container-signup{
  padding:5% 15%;
}
.cap{
  height: 100%;
}
