<div class="payment-option">
<div class="close" (click)="closeDialog()">X</div>
  <h3 class="event-title">
  {{data.name}}</h3>
  <div class="payment-method">
    <div  *ngFor="let paymentProvider of paymentProviders" [ngClass]="activeProvider.code == paymentProvider.code?('selected '+paymentProvider.class ): paymentProvider.class">
      <img [src]="paymentProvider.imageUrl" alt="{{paymentProvider.name}}" (click)="selectProv(paymentProvider)">
    </div>
    
    <!-- -<div class="mtn">
      <img src="assets/images/paymentlogos/mtn.jpeg" alt="MTN Mobile Money">
    </div> -->
  </div>
  <div *ngIf="msg">{{msg | translate}}</div>
  <form action="">
  <div class="input-group">
  <div class="country-code">+237</div>
  <input id="phonenumber" type="tel" [(ngModel)]="phonenumber" name="phonenumber"  placeholder="{{'enter_phone_number' | translate}}"  [ngModelOptions]="{ updateOn: 'blur' }">
  </div>
    
  </form>

  <button class="pay-button" (click)="validatePayment()">
    {{'make_payment'|translate}}
  </button>
</div>
