<div class="sidebar shadow">
  <nav class="nav flex-column">
    <a class="nav-link item"> <i class="fas fa-home item"></i>  Dashboard</a>
    <a class="nav-link item" routerLink="/manage-events"> <i class="fas fa-calendar-alt item"></i> Manage my events</a>
    <a class="nav-link item" routerLink="/create_ticket"> <i class="fas fa-ticket-alt item"></i> Tickets</a>
    <a class="nav-link item"> <i class="fas fa-user-alt item"></i>Manage attendees</a>
    <a class="nav-link item" routerLink="/transactions"> <i class="fas fa-exchange-alt item"></i>Transactions</a>
    <a class="nav-link item" routerLink="/withdrawal"> <i class="fas fa-money-bill-alt item"></i>withdrawals</a>
    <a class="nav-link item"> <i class="fas fa-cogs item"></i>Account setting </a>
  </nav>
</div>
