<div>
  <app-navbar></app-navbar>
</div>
<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9"><br/><br/>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2> Events </h2>
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-dark" disabled><i class="fas fa-list"></i> List </button>
        </div>
        <div class="col-md-4">
          <div class="float-end">
            <button class="btn btn-danger" routerLink="/create_event"> Create Event </button>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="container">
      <table class="table table-responsive-sm table-responsive-md">
        <thead class="cap">
        <tr>
          <td class="card-body">Events</td>
          <td class="card-body">Tickets sold</td>
          <td class="card-body">Status</td>
          <td class="card-body">action</td>
        </tr>
        </thead>
        <tbody>
        <tr class="shadow" *ngFor="let event of events">
          <td class="card-body row event">
            <div class="col-md-auto">
              <img class="img-thumbnail" src="assets/images/business-conference.jpg" style="height: 50px">
            </div>
            <div class="col-md-auto">
              <h6>  {{event.name}} </h6>
              <div>
                <small>{{event.venue}}</small>
              </div>
              <div>
                <small> {{event.start_date}} {{event.start_time}} </small>
              </div>
            </div>
          </td>
          <td class="card-body event">
            <span>5</span>/ 50
          </td>
          <td class="card-body event">
            <div class="col"> On sale </div>
          </td>
          <td>
            <div class="col">
              <div class="dropdown">
                <span><i class="fas fa-ellipsis-v"></i></span>
                <div class="dropdown-content">
                  <div class="dropdown-content-link">
                    <a class="item"> View Event </a>
                  </div>
                  <div class="dropdown-content-link">
                    <a class="item" routerLink="/edit_event/{{event.id}}"> Edit Event </a>
                  </div>
                  <div class="dropdown-content-link">
                    <a class="item" routerLink="/create_ticket/{{event.id}}"> Event Tickets </a>
                  </div>
                  <div class="dropdown-content-link">
                    <a class="item"> Copy Event URL </a>
                  </div>
                  <div class="dropdown-content-link">
                    <a class="item"> Postpone Event </a>
                  </div>
                  <div class="dropdown-content-link">
                    <a class="item" (click)="deleteEvent(event.id)"> Delete Event </a>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

