.home {
    max-width: 1020px;
    margin: 100px auto;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span {
    color: #888888;
}

.card-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card-media {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 0 0 300px;
    border-radius: 2px;
    box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
    transition: all 300ms ease-out;
}

.card-media:hover {
    box-shadow: 0 16px 64px -16px rgb(46 55 77 / 24%);
}

.card-media .image-container {
    flex: 1 1 300px;
    position: relative;
    background-color: gray;
}

.card-media .image-container .event-caption {
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 2px;
}

.card-media .content-container {
    flex: 1 1 300px;
    padding: 12px 15px;
    position: relative;
}

.card-media .content-container .card-top {
    display: flex;
    justify-content: space-between;
    color: #888888;
}

.card-media .content-container .card-top .top-icons {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 300ms ease-out;
}

.card-media:hover .content-container .card-top .top-icons {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms ease-out;
}

.card-media .content-container .card-top .top-icons svg {
    fill: #888888;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-media .content-container .card-top .top-icons svg:hover {
    fill: #4f4f4f;
}

.card-media .content-container .card-heading {
    margin: 10px 0 10px 0;
    max-height: 55px;
    overflow: hidden;
}


.card-media .content-container .card-heading span {
    color: #000000;
}

.card-media .content-container .card-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
}

.card-media .content-container .card-bottom .card-bottom-show {
    position: relative;
}

.card-media .content-container .card-bottom .card-bottom-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 5px;
    transition: all 300ms ease-out;
}

.card-media .content-container .card-bottom .card-bottom-active .location {
    margin-right: 10px;
}

.card-media:hover .content-container .card-bottom .card-bottom-active {
    opacity: 0;
    transform: translateY(-8px);
    transition: all 300ms ease-out;
}

.card-media .content-container .card-bottom .card-bottom-reveal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    transform: translateY(16px);
    transition: all 300ms ease-out
}

.card-media:hover .content-container .card-bottom .card-bottom-reveal .tags {
    margin-right: 10px;
}

.card-media:hover .content-container .card-bottom .card-bottom-reveal {
    opacity: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(8px);
    transition: all 300ms ease-out
}

.card-media .content-container .card-bottom .card-bottom-reveal button {
    background-color: #fff;
    color: skyblue;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-media:hover .content-container .card-bottom .card-bottom-reveal button:hover {
    color: blue;
}

@media (max-width: 1024px) {
    .home {
        max-width: 95%;
    }
}

@media (max-width: 798px) {
    .home {
        max-width: 98%;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-media .content-container .card-top .top-icons {
        opacity: 1;
        transform: translateY(0);
    }    
}

@media (max-width: 480px) {

    .home {
        max-width: 90%;
    }

    .card-container {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .card-media .content-container .card-heading {
        max-height: 40px;
    }
    .card-media .content-container .card-bottom .card-bottom-reveal {
        display: none;
    }
}
