<!-- Navbar -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       <ul>
        <li>Home</li>
        <li routerLink='/external-api'>Our Products</li>
        <li>About</li>
        <li>Contacts</li>
       </ul>
        <!-- <a class="navbar-brand" href="#">{{authService.message}}</a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">WHO</a></li> -->
          <ng-container *ngIf="(auth.isAuthenticated$ | async) === false else loaded">
            <li> <button class="btn btn-primary btn-block" (click)="loginWithRedirect()">
              login
            </button>
          <li> <button class="btn btn-secondary btn-block" (click)="registerWithRedirect()">
            sing up
          </button>
          </ng-container>

            <ng-template #loaded>
              <div *ngIf="auth.user$ | async as user">
                <div class="row align-items-center profile-header">
                  <div class="col-md-2 mb-3" (click) = "showLogout = !showLogout">
                    <img
                      [src]="user.picture"
                      alt="User's profile picture"
                      class="rounded-circle img-fluid profile-picture"
                    />
                  </div>
                  <div class="col-md text-center text-md-left">
                    <h2>{{ user.name }}</h2>
                    <p class="lead text-muted">{{ user.email }}</p>
                  </div>
                </div>
                <div class="row align-items-center" style=" cursor: pointer;" *ngIf="showLogout" (click)="logout()">
                  <div class="col-md-1 mb-1"><i class="fas fa-sign-out-alt"></i></div>
                  <div class="col-md text-center text-md-left">Log out</div>
                  
                </div>
                <!-- <div class="row" *ngIf="profileJson">
                  <pre class="col-12 text-light bg-dark p-4">{{ profileJson }}</pre>
                </div> -->
              </div>         
            <!-- <li><button class="btn btn-danger btn-block" (click)="logout()">
              Log out
            </button></li> -->
            </ng-template>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I?</h3>
    <img src="assets/images/bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>I'm an adventurer</h3>
  </div>
  
  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">What Am I?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a>
  </div>
  
  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Where To Find Me?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="assets/images/birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="assets/images/birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="assets/images/birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p> 
  </footer>
  