.navbar{
  background: #2B4F9D;
  color: white;
}
.navbar-brand{
  color: #FFFFFF;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 11px;
  z-index: 1;
}

.dropdown-content-link {
  text-decoration: none;
  color: #55514F;
  padding: 1.1rem 0.9rem;
  font-size: 1.0rem;
}
.dropdown-content-link :hover{
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.item{
  color: #55514F;
  cursor: pointer;
  text-decoration: none;
}
