<div>
  <app-navbar></app-navbar>
</div>
<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9"><br/><br/>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="container">
            <h4 class="text-center"> Event tickets </h4>
            <div class="row">
              <div class="col-md-7">
                <div *ngIf="!eventId">
                  <label class="form-label"> Select Events </label><br/>
                  <small> Select and event to see event tickets </small>
                  <select class="form-select" (change)="onChange()" [(ngModel)]="eventId">
                    <option disabled value=""> select event  </option>
                    <option *ngFor="let event of events" value="{{event.id}}"> {{event.name}} </option>
                  </select>
                </div>
                <br/>
                <br/>
                <br/>

                <div class="container">
                  <div class="row">
                    <table class="table table-striped table-responsive-sm table-responsive-md">
                      <thead class="cap">
                      <tr>
                        <td class="card-body">Name</td>
                        <td class="card-body"> Amount </td>
                        <td class="card-body"> available</td>
                        <td class="card-body"> sold </td>
                        <td class="card-body">action</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ticket of tickets" class="shadow">
                        <td>
                          <div class="col-md-auto">
                            {{ticket.name}}
                          </div>
                        </td>
                        <td>
                          {{ticket.amount}} <span>xaf</span>
                        </td>
                        <td>
                          {{ticket.number_available}}
                        </td>
                        <td>
                          15
                        </td>
                        <td>
                          <div>
                            <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#editTicket" (click)="getTicket(ticket.id)"> edit </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteTicket(ticket.id)"> delete </button>
                          </div>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="card shadow">
                  <div class="card-body">
                    <h3 class="card-title"> Add/Create ticket  </h3>
                    <form [formGroup]="addTicketForm" (ngSubmit)="createTicket()">
                      <div class="mb-3">
                        <label class="form-label"> Name </label>
                        <input type="text" class="form-control" formControlName="name">
                        <small class="form-text">name should be clear and descriptive </small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label"> amount </label>
                        <input type="number" class="form-control" formControlName="amount">
                      </div>
                      <div class="mb-3">
                        <label class="form-label"> number available </label>
                        <input type="number" class="form-control" formControlName="number_available">
                      </div>
                      <div class="mb-3">
                        <label class="form-label"> Description </label>
                        <textarea type="text" class="form-control" formControlName="description"></textarea>
                        <small class="form-text">Description should be descriptive and brief</small>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-sm btn-danger"> save </button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ticket Edit Modal -->
  <div class="modal fade" id="editTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Edit Ticket </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editTicketForm" (ngSubmit)="updateTicket()">
            <div class="mb-3">
              <label class="form-label"> Name </label>
              <input type="text" class="form-control" formControlName="name">
              <small class="form-text">name should be clear and descriptive </small>
            </div>
            <div class="mb-3">
              <label class="form-label"> amount </label>
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="mb-3">
              <label class="form-label"> number available </label>
              <input type="number" class="form-control" formControlName="number_available">
            </div>
            <div class="mb-3">
              <label class="form-label"> Description </label>
              <textarea type="text" class="form-control" formControlName="description"></textarea>
              <small class="form-text">Description should be descriptive and brief</small>
            </div>
            <div>
              <button type="submit" class="btn btn-sm btn-danger" data-bs-dismiss="modal"> save </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

